---
import type { FeedItemModel } from '../models.d.ts';
import Dot from './Dot';

interface Props extends FeedItemModel {
  parent?: boolean;
}

const {
  parent,
  id,
  title,
  url,
  domain,
  points,
  comments_count,
  user,
  time,
  time_ago,
} = Astro.props;

const formattedTime = new Date(time * 1000).toLocaleDateString('en-US', {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<div class="flex flex-col border-b-slate-800">
  <span class="text-slate-500 text-sm font-mono">{user}</span>
  <div>
    {
      parent ? (
        <span class="text-xl text-slate-300 mr-1">{title}</span>
      ) : (
        <a
          href={`/items/${id}`}
          class="text-xl text-slate-300 mr-1 transition hover:text-slate-200"
        >
          {title}
        </a>
      )
    }
    {
      domain && (
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          class="font-mono border border-slate-700 rounded text-slate-500 px-1 text-sm transition hover:text-slate-400 hover:border-slate-600"
        >
          {domain}
        </a>
      )
    }
  </div>
  <div class="flex gap-2 items-center">
    <span>{(points ?? 0).toLocaleString()} points</span>
    <Dot />
    <a href={`/items/${id}`}>{comments_count.toLocaleString()} comments</a>
    <Dot />
    <a
      title={formattedTime}
      href={`https://news.ycombinator.com/item?id=${id}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      {time_ago}
    </a>
  </div>
</div>
