---
import FeedItem from './FeedItem.astro';
import Layout from '../layouts/Layout.astro';
import type { FeedItemModel } from '../models';
import Pagination from './Pagination.astro';
import Dot from './Dot';

interface Props {
  feed: string;
  page: string;
  title?: string;
  description: string;
}

const { feed, page, title, description } = Astro.props;

const res = await fetch(`https://api.hnpwa.com/v0/${feed}/${page}.json`);
const data = (await res.json()) as FeedItemModel[];
---

<Layout
  title={title ? `${title} - Hacker News` : 'Hacker News'}
  {description}
  {feed}
>
  <div class="flex flex-col gap-3">
    {
      data.map((item, i) => (
        <>
          {i !== 0 && <hr class="border-slate-800" />}
          <FeedItem {...item} />
        </>
      ))
    }
  </div>
  <Pagination root={`/${feed}`} page={Number(page)} />
</Layout>
